.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-image: url('/backgroundHome2.jpg');
    padding: 0;
    margin: 0;
    background-size: 1124px;
    background-repeat: no-repeat;
    background-color: var(--background-color-black);
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.rightCol {
    max-width: 390px;
}

.bodycopy {
    color: white;
}

.numberContainer {
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
  appearance: button;
  background-color: #7D8491;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
}

.button:after {
  background-clip: padding-box;
  background-color: #9CA1AB;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}